@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Nunito", sans-serif;
}

h2 {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
